.wrapper {
  display: flex;
  flex-direction: column0;
}

.wrapper:first-child {
  border-radius: 12px 0 0 12px;
}

.wrapper:last-child {
  border-radius: 0 12px 12px 0;
}

.input {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  background-color: var(--input-bg-color);
  margin: 0;
  padding: 12px 20px;
  border: none;
  outline: none;
  border-radius: 12px;
  flex-grow: 1;
  transition: background-color var(--main-transition);
}
.input:hover,
.input:focus {
  background-color: var(--input-active-bg-color);
}
.input::placeholder {
  color: var(--input-placeholder-color);
}
