.baseButton {
  display: block;
  padding: 12px 51px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;

  color: var(--main-bg-color);
  background-color: var(--button-color);

  border: none;
  border-radius: 12px;

  transition: background-color var(--main-transition);
  cursor: pointer;
}

.baseButton:hover,
.baseButton:focus {
  background-color: var(--button-hover);
}
