.catalog_container {
  padding-top: 84px;
  padding-bottom: 124px;
}

.filter {
  display: grid;
  grid-template-columns: 200px 200px 320px 156px;
  align-items: end;
  justify-content: center;
  column-gap: 16px;
  padding-bottom: 56px;
}

.label {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--secondary-text-color);
  margin-bottom: 8px;
}

.load_more_btn {
  color: var(--main-text-color);
  border: 1px solid var(--button-color);
  min-width: 156px;
  background-color: transparent;
  transition: border-color var(--main-transition);
}

.load_more_btn:hover,
.load_more_btn:focus {
  border-color: var(--button-hover);
  background-color: transparent;
}
