.header {
  background-color: var(--header-bg-color);
  font-weight: 500;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ul {
  display: flex;

  column-gap: 32px;
}

.logo {
  padding: 24px 0;
}

.link {
  padding: 26px 0;
  margin: 0;
  transition: color var(--main-transition);
}

.link[aria-current="page"] {
  color: var(--button-hover);
}

.link:hover,
.link:focus {
  color: var(--button-hover);
}

.header_wrapper {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.theme_btn {
  background-color: transparent;
  color: var(--main-text-color);
  border-radius: 12px;
  cursor: pointer;
  transition: color var(--main-transition);
  align-items: center;
  padding: 12px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  background-color: var(--input-bg-color);
  border: none;
  transition: background-color var(--main-transition);
}

.theme_btn:hover,
.theme_btn:focus {
  color: var(--header-bg-color);
  background-color: var(--main-text-color);
}
